<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Chủ</title>

    <link rel="stylesheet" href="~/Content/trangchu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <header>
        <div id="top-header">
            <ul>
                <li id="contacts">
                    <!--danh mục liên lạc-->
                    <ul id="contact-wrapper">
                        <li><i class="fa-solid fa-envelope"></i>     Liên hệ</li>
                        <li><i class="fa-regular fa-clock"></i>     06:00-22:00</li>
                        <li><i class="fa-solid fa-phone"></i>     0123.456.789</li>
                    </ul>
                </li>

                <li id="icons">
                    <!--danh mục icon-->
                    <ul id="icon-wrapper">
                        <li><i class="fa-brands fa-facebook"></i></li>
                        <li><i class="fa-solid fa-envelope"></i></li>
                        <li><i class="fa-solid fa-phone"></i></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div id="bottom-header">
            <div id="left-section">
                <img src="~/Content/images/logo_truong_Phung_gui.jpg" alt="Logo">
            </div>
            <div id="right-section">
                <ul id="categories">
                    <li>TRANG CHỦ</li>
                    <li>GIỚI THIỆU</li>
                    <li>HỌC PHÍ</li>
                    <li>TUYỂN SINH</li>
                    <li>VIDEO</li>
                    <li>DẠY HỌC TRỰC TUYẾN</li>
                    <li>3 CÔNG KHAI</li>
                    <li>TUYỂN DỤNG</li>
                    <li>TIN TỨC</li>
                    <li>LIÊN HỆ</li>
                    <li><a href="Account/Login">ĐĂNG NHẬP</a></li>
                </ul>
            </div>
        </div>
    </header>

    <div id="content">
        <h1>Bổ sung sau nếu có hihi</h1>
    </div>

    <footer>
        <div id="About-us-wrapper">
            <ul id="About-us">
                <h1>VỀ CHÚNG TÔI</h1>
                <li>Trụ Sở Chính: Số 126 Tô Hiệu, Hiệp Tân, Tân Phú, TP.HCM</li>
                <li>Hotline: 0902.611.511</li>
                <li>Email: bgh@thpttrancaovan.edu.vn</li>
                <li>Website: thpttrancaovan.edu.vn</li>
            </ul>
        </div>

        <div id="Introduction-wrapper">
            <ul id="Introduction">
                <h1>GIỚI THIỆU</h1>
                <li>Tổng quan về trường</li>
                <li>Đội ngũ giảng viên</li>
                <li>Cơ sở vật chất</li>
                <li>Thành tích dạy và học</li>

            </ul>

        </div>

        <div id="Information-wrapper">
            <ul id="Information">
                <h1>THÔNG TIN</h1>
                <li>Tin tuyển sinh</li>
                <li>Hướng dẫn nhập học</li>
                <li>Quy định, nội quy trường</li>
                <li>Thông báo</li>

            </ul>

        </div>




    </footer>
</body>
</html>
