@model mamNonTuongLaiTuoiSang.Models.HocSinh
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>HocSinh</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdHs" />
            <input type="hidden" asp-for="TenHs" />
            <input type="hidden" asp-for="GioiTinh" />
            <input type="hidden" asp-for="NamSinh" />
            <input type="hidden" asp-for="IdPh" />
            <input type="hidden" asp-for="QuanHe" />
            <div class="form-group">
                <label asp-for="CanNang" class="control-label"></label>
                <input asp-for="CanNang" class="form-control" />
                <span asp-validation-for="CanNang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChieuCao" class="control-label"></label>
                <input asp-for="ChieuCao" class="form-control" />
                <span asp-validation-for="ChieuCao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

