@model mamNonTuongLaiTuoiSang.Models.PhuHuynh
@{
    ViewBag.title = "User";
    Layout = "~/Views/Shared/_LayoutPh.cshtml";
}
<!-- Main Content -->
<div class="p-8">
    <div id="mainContent" class="main-content">
        <div id="contentArea" class="text-gray-700 text-lg">
            Mầm non tương lai tươi sáng xin chào !
        </div>
    </div>
</div>