@{
    ViewBag.Title = "Điền Email";
    Layout = "~/Views/Shared/MasterLayoutLogin.cshtml";
}
@section scripts {
    <script>
        $(function () {
            $('#AlertBox').removeClass('hide');
            $('#AlertBox').delay(2000).slideUp(500);
        });

    </script>
}
<body style="background-color:ghostwhite;">
    <div id="frame">
        <div class="login">
            <a href=""><img src="https://i.imgur.com/B7tN0Pn.png" alt="Logo" style="margin-top: 3vh;" height="160px" width="250px"></a>
            <h1>Nhập lại mật khẩu</h1>
            <p>Nhập mật khẩu mới cho tài khoản của bạn</p>
            <br />
            @if (TempData["AlertMessage"] != null)
            {
                <div id="AlertBox" class="alert @TempData["AlertType"] hide" role="alert">
                    @TempData["AlertMessage"]
                </div>
            }
            @using (Html.BeginForm("ChangePass", "ForgetPass"))
            {
                //description: "Enter the code sent to your email"
                <section action="/ForgetPassController/ChangePass()" method="post">
                    <input type="text" name="NewPass" placeholder="Nhập mật khẩu mới của bạn">
                    <br><br>
                    <input type="text" name="ReNewPass" placeholder="Nhập lại mật khẩu">
                    <br><br>
                    <input type="submit" name="ChangePass" value="Xác nhận" />
                    <br><br>
                </section>
            }
        </div>
    </div>
</body>

