@model mamNonTuongLaiTuoiSang.Models.HocSinh

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>HocSinh</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdHs" class="control-label"></label>
                <input asp-for="IdHs" class="form-control" />
                <span asp-validation-for="IdHs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenHs" class="control-label"></label>
                <input asp-for="TenHs" class="form-control" />
                <span asp-validation-for="TenHs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GioiTinh" class="control-label"></label>
                <input asp-for="GioiTinh" class="form-control" />
                <span asp-validation-for="GioiTinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NamSinh" class="control-label"></label>
                <input asp-for="NamSinh" class="form-control" />
                <span asp-validation-for="NamSinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPh" class="control-label"></label>
                <select asp-for="IdPh" class="form-control" asp-items="ViewBag.PhuHuynhList"></select>
                <span asp-validation-for="IdPh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuanHe" class="control-label"></label>
                <input asp-for="QuanHe" class="form-control" />
                <span asp-validation-for="QuanHe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

